@import "../../../../assets/scss/variable";
.specialpassword{
  position: relative;

  .OrgContainer{
    padding-top: 30px;
    background:#fff;
    //box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    .personalpsw-name{
      text-align: center;
      font-size: 20px;
      color: rgba(0,0,0,0.87);
      letter-spacing: 0.56px;
      margin-bottom: 30px;
      padding-top: 150px;
    }
    .pswInfor{
      margin: 0px auto;
      width: 550px;
      height: 35px;

      label{
        font-size: 14px;
      }
    }
    .form-control {
      font-size: 14px !important;
      color: rgba(0, 0, 0, 0.87);
      font-weight: 300;
    }
    .form-group button.personalpsw-y,.cancel-y{
      border-radius: 6px;
      background: $main-color;
      color: #FFFFFF;
      font-weight: 400;
      cursor: pointer;
    }
    .form-group button.cancel-y{
      background:#90A4AE ;
    }
    mat-form-field{
      width: 74%;
    }
    .form-group{
      font-size: 14px;
      color: rgba(0,0,0,0.85);
      text-align: center;
    }
  }

}
