<div class="personalPswContainer">
    <div class="OrgContainer" >
        <div class="col-md-6 col-md-offset-3 pswInfor">
            <form  (submit)="changePwd()"  novalidate [formGroup]="personalpswForm" >
                <div class="personalpsw-name">请更改您的个人密码</div>
                <div class="form-group" >
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="请输原始密码"  type="password" [(ngModel)]="model.oldPwd" formControlName="oldPwd"
                               [class.valid]="!personalpswForm.controls.oldPwd.valid && personalpswForm.controls.oldPwd.dirty"
                        >
                    </mat-form-field>
                    <mat-error *ngIf="!personalpswForm.controls.oldPwd.valid && personalpswForm.controls.oldPwd.dirty">
                        只能大小写字母、数字以及下划线，长度在6~21之间
                    </mat-error>
                </div>
                <div class="form-group" >
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="请输新密码"  type="password" [(ngModel)]="model.newPwd" formControlName="newPwd"
                               [class.valid]="!personalpswForm.controls.newPwd.valid && personalpswForm.controls.newPwd.dirty"
                        >
                    </mat-form-field>
                    <mat-error *ngIf="!personalpswForm.controls.newPwd.valid && personalpswForm.controls.newPwd.dirty">
                        只能大小写字母、数字以及下划线，长度在6~21之间
                    </mat-error>
                </div>
                <div class="form-group" >
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="请输确认密码" type="password"  formControlName="confirmPwd"
                               [class.valid]="!passwordMatchValidator(personalpswForm)"
                        >
                    </mat-form-field>
                    <mat-error *ngIf="personalpswForm.controls.confirmPwd.valid&&passwordMatchValidator(personalpswForm)">确认密码与新密码不一致</mat-error>
                </div>
                <div class="form-group btn-psw">
                    <button mat-button class="moreCategories mat-raised-button cancel-y" [disabled]="!personalpswForm.valid">取消</button>
                    <button mat-button class="moreCategories mat-raised-button personalpsw-y" [disabled]="!personalpswForm.valid">确认</button>
                </div>
            </form>
        </div>
    </div>
</div>