<div class="app" dir="ltr"
     [ngClass]="{'app-dark': dark, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar, 'customizer-in': customizerIn}">
    <div id="logo">
        <!--<div style="width: 15%;height: 64px;float: left;text-align: center;line-height: 64px">-->
            <!--<img src="assets/images/logo3.png" width="160" height="42">-->
        <!--</div>-->
        <mat-toolbar class="gene-header-toolbar" >
            <!--<span fxFlex></span>-->
            <img src="assets/images/logo3.png" width="160" height="42" style="margin-left: 40px">
            <div class="search-bar" fxFlex *ngIf="ctx.isShowAllSearchDiv">
                <!--<form class="search-form" fxShow="false" fxShow.gt-xs>-->
                    <!--<mat-form-field>-->
                        <!--<input matInput-->
                               <!--type="text"-->
                               <!--placeholder="{{'search' |translate}}"-->
                               <!--name="allSearch"-->
                               <!--(keyup)="searchService.doSearch($event,1)"-->
                               <!--[(ngModel)]="searchService.outsetSearchKey"/>-->
                    <!--</mat-form-field>-->
                <!--</form>-->
                <input type="text"
                       placeholder="{{'search' |translate}}"
                       (keyup)="searchService.doSearch($event,1)"
                       [(ngModel)]="searchService.outsetSearchKey"
                >
            </div>
            <div class="secondary-menu">
                <button fxHide="true" fxHide.gt-sm="false" mat-button class="fullscreen-toggle"
                        (click)="toggleFullscreen()">
                    <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
                    <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
                </button>

                <button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible noticeBtn">
                    <mat-icon>notifications</mat-icon>
                    <span class="tips"  *ngIf="hasNotices()"></span>
                </button>
                <button class="user-button" mat-button [matMenuTriggerFor]="menu">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="img-responsive img-circle" src="{{readFace.image?readFace.image:'assets/images/personalCenter.png'}}" width="27" height="27"
                             alt="user list image">
                        <span class="gene-user-name  userName">{{ctx.userName}}</span>
                    </div>
                </button>
                <!--<div class="gene-user-thumb text-center">-->
                    <!--<img class="img-responsive img-circle" src="{{readFace.image?readFace.image:'assets/images/personalCenter.png'}}" width="27" height="27"-->
                         <!--alt="user list image">-->
                    <!--<span class="gene-user-name  userName">{{ctx.userName}}</span>-->
                <!--</div>-->
            </div>
        </mat-toolbar>

    </div>
    <mat-sidenav-container class="gene-container">

        <mat-sidenav #sidenav mode="side" opened="true" class="sidebar-area">
            <div class="sidebar-panel gene-sidenav" fxLayout="column">
                <!--<mat-toolbar class="sidebar-logo">-->
                    <!--<div class="gene-logo">-->
                        <!--<div class="logo-sign inline-block"><img src="assets/images/logo3.png" width="255.99" height="30">-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<div class="logo-text inline-block"><img src="assets/images/logo-text.png" width="90" height="27">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</mat-toolbar>-->
                <div class="sidebar-container">
                    <div class="sidenav-scrollbar-container" fxLayout="column">
                        <perfect-scrollbar>
                            <!--外加sidebar html-->
                            <div class="sidebar clearfix" #sideBar id="sidebar" *ngIf="ctx.userId !== 1">
                                <mat-accordion [displayMode]="displayMode" [multi]="true"
                                               class="mat-expansion-demo-width">
                                    <mat-expansion-panel #panel1 [hideToggle]="hideToggle" [disabled]="disabled"
                                                         class="morePanel">
                                        <mat-expansion-panel-header (click)="onMyFolder($event)" collapsedHeight="40px"
                                                                    expandedHeight="40px"><i
                                                class="icon-wenjianjia-1"></i><span
                                                style="padding-left: 12px;font-weight: 500">{{'menu.myFolder' | translate}}</span>
                                        </mat-expansion-panel-header>
                                        <div class="itemBody padding" *ngIf="mySideNavTree.length">
                                            <tree-root
                                                    #mySideTree
                                                    [nodes]="mySideNavTree"
                                                    (activate)="onMySideNavNodeSelected($event)"></tree-root>
                                        </div>
                                        <div *ngIf="!mySideNavTree.length">暂无</div>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel #panel2 [hideToggle]="hideToggle"
                                                         class="morePanel">
                                        <mat-expansion-panel-header (click)="onMyFolder($event)" collapsedHeight="40px"
                                                                    expandedHeight="40px"><i
                                                class="icon-wenjianyun"></i><span
                                                style="padding-left: 12px;font-weight: 500">{{'menu.fileCloud' | translate}}</span>
                                        </mat-expansion-panel-header>
                                        <div class="itemBody">
                                            <tree-root
                                                    #enterpriseSideTree
                                                    [nodes]="sideNavTree"
                                                    (activate)="onSideNavNodeSelected($event)"></tree-root>
                                        </div>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <!--/ 原sidebar html-->
                            <!--<mat-divider></mat-divider>-->
                            <mat-nav-list fxLayout="column" menuToggleDirective class="navigation">
                                <mat-list-item menuToggleLink *ngFor="let menuitem of ctx.currentMenu">
                                    <a menuToggle class="gene-relative" mat-ripple
                                       routerLink="/portal/{{ctx.domain}}/{{menuitem.state}}"
                                       routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                                        <i class="{{menuitem.icon}}"></i>
                                        <span style="padding-left: 12px">{{ menuitem.name | translate }}</span>
                                    </a>
                                    <a menuToggle class="gene-relative" mat-ripple href="javascript:;"
                                       *ngIf="menuitem.type === 'sub'">
                                        <i class="{{menuitem.icon}}"></i>
                                        <span style="padding-left: 12px">{{ menuitem.name | translate }}</span>
                                        <span fxFlex></span>
                                        <mat-icon class="menu-caret">chevron_right</mat-icon>
                                    </a>
                                    <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                                        <mat-list-item *ngFor="let childitem of menuitem.children"
                                                       routerLinkActive="open">
                                            <a routerLink="/portal/{{ctx.domain}}/{{childitem.state}}"
                                               routerLinkActive="active-link" class="gene-relative" mat-ripple>
                                                {{childitem.name | translate }}</a>
                                        </mat-list-item>
                                    </mat-nav-list>
                                </mat-list-item>
                            </mat-nav-list>
                        </perfect-scrollbar>
                    </div>
                    <!--<div class="language">-->
                        <!--<div><img src="assets/images/ch.png" alt=""><span (click)="changeLanguage('zh')">{{'changeLanguage.cn' | translate}}</span>-->
                        <!--</div>-->
                        <!--<div><span (click)="changeLanguage('en')">{{'changeLanguage.en' | translate}}</span><img-->
                                <!--src="assets/images/mg.png" alt=""></div>-->

                    <!--</div>-->
                </div>

            </div>
        </mat-sidenav>

        <!--顶部header-->
        <mat-toolbar class="gene-header-toolbar">
            <!--切换左菜单栏-->
            <div class="gene-ham-icon">
                <button class="" mat-mini-fab color="primary" mat-card-icon (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <!--页面的title展示-->
            <a class="navbar-brand" href="javascript:;">{{header | translate}}</a>

            <!--面包屑-->
            <!--<breadcrumb class="gene-breadcrumbs"></breadcrumb>-->
            <!--面包屑-->
            <div class="breadheader" *ngIf="ctx.isShowAllSearchDiv">
                <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
            </div>

            <!--搜索框-->
            <!--<span fxFlex></span>-->
            <!--<div class="search-bar" fxFlex *ngIf="ctx.isShowAllSearchDiv">-->
                <!--<form class="search-form" fxShow="false" fxShow.gt-xs>-->
                    <!--<mat-form-field>-->
                        <!--<input matInput-->
                               <!--type="text"-->
                               <!--placeholder="{{'search' |translate}}"-->
                               <!--name="allSearch"-->
                               <!--(keyup)="searchService.doSearch($event,1)"-->
                               <!--[(ngModel)]="searchService.outsetSearchKey"/>-->
                    <!--</mat-form-field>-->
                <!--</form>-->
            <!--</div>-->

            <!--全屏 展示切换-->
            <!--<div class="secondary-menu">-->
                <!--<button fxHide="true" fxHide.gt-sm="false" mat-button class="fullscreen-toggle"-->
                        <!--(click)="toggleFullscreen()">-->
                    <!--<mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>-->
                    <!--<mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>-->
                <!--</button>-->

                <!--<button class="user-button" mat-button [matMenuTriggerFor]="menu">-->
                    <!--<div fxLayout="row" fxLayoutAlign="center center">-->
                        <!--<mat-icon>account_circle</mat-icon>-->
                    <!--</div>-->
                <!--</button>-->
                <!--<button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible noticeBtn">-->
                    <!--<mat-icon>notifications</mat-icon>-->
                    <!--<span class="tips"  *ngIf="hasNotices()"></span>-->
                <!--</button>-->
                <!--&lt;!&ndash;<button mat-icon-button class="ml-xs overflow-visible" [matMenuTriggerFor]="appsmenu">&ndash;&gt;-->
                <!--&lt;!&ndash;<mat-icon>apps</mat-icon>&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
            <!--</div>-->
        </mat-toolbar>

        <!--点击铃铛 展示通知面板-->
        <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
            <div class="scroll">
                <!--<mat-toolbar class="mat-blue-800 noticeHeader">-->
                    <!--&lt;!&ndash;<h3>消息通知</h3>&ndash;&gt;-->
                    <!---->
                <!--</mat-toolbar>-->
                <mat-tab-group class="notice-tab-group" [(selectedIndex)]="noticeTabSelectedIndex" (selectedIndexChange)="noticeTabChange($event)">
                    <mat-tab class="notice-tab-item">
                        <ng-template mat-tab-label>
                            {{'消息通知（'+notices.length+'）'}}
                        </ng-template>
                        <mat-nav-list>
                            <mat-accordion>
                                <mat-nav-list class="noNotice" *ngIf="!hasNotices()">您目前无最新消息通知！！</mat-nav-list>
                                <mat-expansion-panel *ngFor="let notice of notices">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <mat-icon mat-list-avatar class="mat-text-warn" style="margin-right:10px;">error</mat-icon>
                                            {{notice.fileName}}
                                        </mat-panel-title>
                                        <!--<mat-panel-description>-->
                                        <!--展开查看更多信息-->
                                        <!--</mat-panel-description>-->
                                    </mat-expansion-panel-header>
                                    <div class="fileDetailList">
                                        <div>
                                            <span class="title">发布的文件名：</span>
                                            <span class="fileName">{{notice.fileName}}</span>
                                        </div>
                                        <div>
                                            <span class="title">发布范围：</span>
                                            <span class="scope" *ngFor="let scope of notice.scope">{{scope}}</span>
                                        </div>
                                        <div *ngIf="notice.security">
                                            <span class="title">文件安全级别：</span>
                                            <span class="safe"><i class="{{notice.security}}" style="color:red;font-size:16px;"></i></span>
                                        </div>
                                        <div>
                                <span class="title">
                                标签：
                                </span>
                                            <span class="tag" *ngFor="let tag of notice.tag">{{tag}}</span>
                                        </div>
                                        <div>
                                 <span class="title">
                                描述：
                                </span>
                                            {{notice.desc}}
                                        </div>
                                        <p  style="color:gray;font-size:12px;">发布时间：{{notice.timestamp | date:"yyyy-MM-dd hh:mm:ss a"}}</p>
                                        <p style="font-size:12px;color:blue;outline: none;cursor:pointer;" (click)="showFileDetail(notice.fileId,notice.dictId)">点击查看文件</p>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </mat-nav-list>
                    </mat-tab>
                    <mat-tab >
                        <ng-template mat-tab-label>
                            {{'待办（'+pends.length+'）'}}
                        </ng-template>
                        <mat-nav-list>
                            <mat-accordion>
                                <mat-nav-list class="noNotice" *ngIf="!hasNotices()">您目前无最新消息通知！！</mat-nav-list>
                                <mat-expansion-panel *ngFor="let pend of pends">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <mat-icon mat-list-avatar class="mat-text-warn" style="margin-right:10px;">error</mat-icon>
                                            {{pend.fileName}}
                                        </mat-panel-title>
                                        <!--<mat-panel-description>-->
                                        <!--展开查看更多信息-->
                                        <!--</mat-panel-description>-->
                                    </mat-expansion-panel-header>
                                    <div class="fileDetailList">
                                        <div>
                                            <span class="title">发布的文件名：</span>
                                            <span class="fileName">{{pend.fileName}}</span>
                                        </div>
                                        <div>
                                            <span class="title">发布范围：</span>
                                            <span class="scope" *ngFor="let scope of pend.scope">{{scope.name}}</span>
                                        </div>
                                        <!--<div *ngIf="pend.security">
                                            <span class="title">文件安全级别：</span>
                                            <span class="safe"><i class="icon-{{pend.security}}" style="color:red;font-size:16px;"></i></span>
                                        </div>-->
                                        <div>
                                <span class="title">
                                标签：
                                </span>
                                            <span class="tag" *ngFor="let tag of pend.tag">{{tag}}</span>
                                        </div>
                                        <div>
                                 <!--<span class="title">
                                描述：
                                </span>
                                            {{pend.desc}}-->
                                        </div>
                                        <p  style="color:gray;font-size:12px;">发布时间：{{pend.timestamp | date:"yyyy-MM-dd hh:mm:ss a"}}</p>
                                        <p style="font-size:12px;color:blue;outline: none;cursor:pointer;" (click)="showPendFileDetail(pend.fileId,pend.dictId)">点击查看文件</p>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>


                        </mat-nav-list>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-sidenav>


        <!--中间的坑-->
        <!--<div style="height: 20px;"></div>-->
        <div class="gene-base-container" #scrollContainer>
            <div class="inner-container">
                <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
            </div>
        </div>


    </mat-sidenav-container>

</div>

<!--点击头像 显示菜单-->
<mat-menu class="user-menu" x-position="before" y-position="below" #menu="matMenu">
    <button mat-menu-item (click)="goToUserCenter()">
        <mat-icon>account_circle</mat-icon>
        <span>{{ 'menu.userCenter.value' | translate }}</span>
    </button>
    <mat-divider></mat-divider>
    <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>{{ 'logout' | translate }}</span>
    </button>
</mat-menu>

<!--点击更多 显示菜单-->
<mat-menu class="apps-menu" x-position="after" y-position="below" #appsmenu="matMenu">
    <button mat-menu-item>
        <mat-icon>storage</mat-icon>
        <span>Total App Memory</span>
    </button>
    <button mat-menu-item>
        <mat-icon>memory</mat-icon>
        <span>Total Memory Used</span>
    </button>

    <button mat-menu-item>
        <mat-icon>mail</mat-icon>
        <span>12 Unread Mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>feedback</mat-icon>
        <span>2 Feedback</span>
    </button>

</mat-menu>


   