<div  class="overview-right"
     *ngIf="isShowSingle||isShowMultiple"
     [@flyInOut]="'in'"
      #overviewRight >
  <div class="single-file-info" *ngIf="isShowSingle">
    <div class="thumbnail">
      <div class="backbtn" (click)="isHideSingle()">
        <a href="javascript:;">返回</a>
      </div>
      <img src="../../../assets/images/brief.png" alt="图片简介">
    </div>
    <!--<div class="more-info"><span class="file-size">文件大小</span><span>{{totalSize}}Mb</span></div>-->
    <div class="more-info"><span class="modify-count">修改次数</span><span>{{ctx.selectedItems[0].modifyCount}}</span></div>
    <div class="more-info"><span class="file-time">上传时间</span><span>{{ctx.selectedItems[0].latestUpdateTime}}</span></div>
    <div class="more-info"><span class="file-author">作者</span><span>{{ctx.selectedItems[0].postman}}</span></div>
    <div class="more-info"><span class="lastest-author">最后作者</span><span>{{ctx.selectedItems[0].postman}}</span></div>
  </div>
  <div class="file-batch-process" *ngIf="isShowMultiple">
    <div class="title">
      <div class="backbtn" (click)="isShowMultiple=!isShowMultiple">
        <a href="javascript:;">返回</a>
      </div>
      <p style="font-size: 16px;color: rgba(0,0,0,0.87);">批量处理</p>
    </div>
    <ul class="file-list">
      <li *ngFor="let selectedItem of ctx.selectedItems ;let index =index;">
          {{selectedItem.name}}
          <a href="javascript:;" class="deletebtn icon-cancel-1" (click)="delSelectedItem(index,selectedItem.fileSize,selectedItem.id)"></a>
      </li>
    </ul>
    <div class="fileInfo">
      <!--<p>-->
        <!--<span class="file-size">文件大小</span>-->
        <!--<span>{{totalSize}} MB</span>-->
      <!--</p>-->
      <p>
        <span class="file-count">文件数量</span>
        <span>{{ctx.selectedItems.length}}</span>
      </p>
    </div>
  </div>
  <div class="linear-gradient"></div>
  <app-file-operators></app-file-operators>
</div>
